<div id="responsive">
	<div class="modal-header">

   <h3 id="myModalLabel"><%= @route.name %></h3>
 </div>
 <div class="">
 	<p>Added By: <%= @user.name %></p>
 </div>
 <div class="modal-body">
   <p><%= @route.description %></p>
 </div>
 <hr>
 <%= form_for [@route, @comment], remote: true do |f|%>
	 <%= f.label  :content %>
	 <%= f.text_field  :content %>
	 <%= f.label  :rating %>
	 <%= f.text_field  :rating %>
	 <%= f.submit %>
 <% end %>
 <div id="comment_field">
 <% if @route.comments.any? %>
		<% @route.comments.each do |c|%>
		<p><%=c.user.name%><span class = "rating"><%= c.rating %></span></p>
		<p>c.content</p>
		<% end %>
		<% else %>
		<p class = 'default-comment'>There are not comments for this route yet</p>
		<% end %>

	</div>
</div>

<script type="text/javascript">
	function closeWindow (){
		$('#responsive').remove()
	}
</script>
