<div id="responsive">
	<div class="route_content">
		<div class="modal-header">
			<p class = " btn close" onClick = "closeWindow()"> x </p>

			<h3 id="myModalLabel"><%= @route.name %></h3>
		</div>
		<% if @results != nil %>
			<div class="weather">
					<h4>Current Weather for <%= @results["current_observation"]["display_location"]["full"]%> : <%= @results["current_observation"]["weather"] %></h4>
					<% if @ten_day_results != nil %>
						<h4>3 Day Forecast:</h4>
						<div class = 'row'>
							<div class = 'col-sm-3'>
								<h5><%= @day_one["title"]%>: <%= @day_one["icon"]%></h5>
								<img src= <%= @day_one["icon_url"] %>>	
							</div>
							<div class = 'col-sm-3'>
								<h5><%= @day_two["title"]%>: <%= @day_one["icon"]%></h5>
								<img src= <%= @day_two["icon_url"] %>>						
							</div>
							<div class = 'col-sm-3'>
								<h5><%= @day_three["title"]%>: <%= @day_three["icon"]%></h5>
								<img src= <%= @day_three["icon_url"]%>>	
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
			<div class="modal-body">
				<p>(<%=@route.difficulty_rating%>) <%= @route.description %></p>
			</div>
			<div class=" form form-group">
				<%= form_for [@route, @comment], remote: true do |f|%>
					<%= f.label  :content %>
					<%= f.text_field  :content, class:'form-control' %>
					<%= f.label  :rating %>
					<%= f.text_field  :rating, class:'form-control route-rating' %>
					<br>
					<%= f.submit 'Comment', :class => 'btn' %>
				<% end %>

			<hr>
		</div>
		<div id="comment_field">
			<% if @route.comments.any? %>
			<% @route.comments.each do |c|%>
			<div class="row">
				<p class = "col-md-6 user_name" ><%=c.user.name%></p>
				<p class = " rating col-md-6">Rating: <%= c.rating %></p>
			</div>
			<p><%= c.content %></p>
			<hr>
			<% end %>
			<% else %>
			<p class = 'default-comment'>There are not comments for this route yet</p>
			<% end %>

		</div>
		<div class="">
			<p>Added By: <%= @user.name %></p>
		</div>

	</div>
</div>

<script type="text/javascript">
	function closeWindow (){
		$('#responsive').remove()
	}
</script>
