<!DOCTYPE html>
<html>
  <head>
    <title>NEXT BETA</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <body>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
      <div id="navbar-full">
    <div id="navbar">
    <!--
        navbar-default can be changed with navbar-ct-blue navbar-ct-azzure navbar-ct-red navbar-ct-green navbar-ct-orange
        -->
        <nav class="navbar navbar-ct-blue navbar-transparent navbar-fixed-top" role="navigation">
          <div class="alert alert-success hidden">
          </div>

          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <%= link_to "NEXT BETA", root_path, class: "navbar-brand" %>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="dropdown navbar-right">
                      <a href="#gsdk" class="dropdown-toggle" data-toggle="dropdown">PAGES <b class="caret"></b></a>
                      <ul class="dropdown-menu">

                      </ul>
                </li>

                <li>
                    <a href="javascript:void(0);" data-toggle="search" class="hidden-xs"><i class="fa fa-search"></i></a>
                </li>
              </ul>
               <form class="navbar-form navbar-left navbar-search-form" role="search">
                 <div class="form-group">
                      <input type="text" value="" class="form-control" placeholder="Search...">
                 </div>
              </form>
              <% if current_user %>
                <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to 'LOG OUT', logout_path, method: :delete %></li>
                  <li><%= image_tag current_user.image_url, alt: current_user.name, class: 'avatar' %></li>
                 </ul>
                 <% else %>
                 <ul class="nav navbar-nav navbar-right">
                   <li></li>
                    <li class=""><%= link_to 'Google+', '/auth/google', class: 'btn btn-round btn-default' %></li>
                  </ul>
                <% end %>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <%= yield(:photo )%>
    </div><!--  end navbar -->

</div> <!-- end menu-dropdown -->

    <%= yield %>
  </body>
</html>
